/* general */
#LdapOrgSettings table > tbody > tr > td:first-child {
	padding: 0 10px 0 5px;
}
/* end of general */


/* content */
#ldaporg-existing-users {
	display: inline-block;
	max-height: 300px;
	overflow: auto;
	border: 1px #aaa solid;
}

#ldaporg-existing-users > .user {
	position: relative;
	padding: 5px 30px 5px 5px;
}

#ldaporg-existing-users > .user:focus, #ldaporg-existing-users > .user:hover, #ldaporg-existing-users > .user:active {
	background-color: #ddd;
}

#ldaporg-existing-users > .user > span.icon {
	display: block;
	position: absolute;
	top: 7px;
	right: 7px;
	cursor: pointer;
}

#ldaporg-user-content {
	display: inline-block;
	vertical-align: top;
	padding: 0 10px 0 20px;
}

#ldaporg-user-content .delete-user {
	transition: background-color 0.3s, color 0.3s;
}

#ldaporg-user-content .delete-user:focus, #ldaporg-user-content .delete-user:hover, #ldaporg-user-content .delete-user:active {
    background-color: #E57B7B;
    color: white;
}

#ldaporg-edit-settings input[type="text"], #ldaporg-edit-settings input[type="url"], #ldaporg-edit-settings input[type="email"],
#ldaporg-edit-settings textarea {
	width: 100%;
}

#ldaporg-edit-settings #ldaporg_welcome_mail_message {
	min-height: 150px;
	min-width: 300px;
}

#ldaporg-edit-settings .pwd_reset_url td:first-child label, #ldaporg-edit-settings .pwd_reset_url td:last-child {
	padding-left: 30px;
}

#ldaporg-edit-settings tr:not(.pwd_reset_url) td:first-child label {
	padding-right: 30px;
}

#ldaporg-force-group-membership .container {
	margin-top: 10px;
    margin-bottom: 10px;
	padding: 5px;
	border: 1px solid grey;
	border-radius: 10px;
}
/* end of content */

/* messages */
#LdapOrgSettings .msg {
	border-radius: 3px;
	background-color: #f3c800;
	padding: 5px;
	display: none;
}

#LdapOrgSettings .msg.success {
	color: #fff;
	background-color: #47a447;
}
#LdapOrgSettings .msg.error {
	color: #fff;
	background-color: #d2322d;
}

#LdapOrgSettings .msg-container {
	height: 25px;
}
/* end of messages */

/* search */
.force-group-membership {
	display: inline-block;
	margin: 5px;
}

.force-group-membership > * {
	background-color: rgba(240, 240, 240, 0.9);
	display: inline-block;
	height: 23px;
	padding: 1px 7px 0;
}

.force-group-membership > .name {
	display: inline-block;
	border-right: 1px solid grey;
	border-radius: 5px 0 0 5px;
}

.force-group-membership > .remove {
	border-left: 1px solid grey;
	font-weight: bold;
	z-index: 10;
	cursor: pointer;
	border-radius: 0 5px 5px 0;
}

.force-group-membership > .remove:focus, .force-group-membership > .remove:hover, .force-group-membership > .remove:active {
	background-color: rgba(201, 201, 201, 1);
}

#LdapOrgSettings .search-container {
	position: relative;
}

#LdapOrgSettings span.search {
	position: relative;
}

#LdapOrgSettings .search-suggestions {
	display: inline-block;
	position: absolute;
	top: 32px;
	left: 2px;
	z-index: 2;
}

#LdapOrgSettings .search-suggestions > .suggestion {
	z-index: 2;
	cursor: pointer;
	background-color: rgba(240, 240, 240, 1);
	padding: 3px 10px;
}

#LdapOrgSettings .search-suggestions > .suggestion:focus, #LdapOrgSettings .search-suggestions > .suggestion:hover, #LdapOrgSettings .search-suggestions > .suggestion:active {
	background-color: rgba(201, 201, 201, 1);
}

#LdapOrgSettings .search-suggestions > .suggestion:first-child {
	
}

#LdapOrgSettings .search-suggestions > .suggestion:last-child {
	border-radius: 0 0 4px 4px;
}

#LdapOrgSettings input[type="search"] {
	background: transparent url('../img/search.svg?v=1') no-repeat 5px center;
	padding: 5px 25px;
	transition: width 0.5s;
	min-width: 250px;
}

#LdapOrgSettings input[type="search"] + .abort {
	opacity: 0;
	transition: opacity 0.5s;
	background: transparent url('../img/remove.svg?v=1') no-repeat center;
	background-size: 100%;
	width: 0;
	height: 20px;
	position: absolute;
	top: 18px;
	right: 12px;
}

#LdapOrgSettings input[type="search"].searching + .abort {
	opacity: 0.5;
	width: 20px;
	cursor: pointer;
	margin-top: -20px;
}

#LdapOrgSettings input[type="search"].searching + .abort:hover, #LdapOrgSettings input[type="search"].searching + .abort:focus, #LdapOrgSettings input[type="search"].searching + .abort:active {
	opacity: 0.8;
}
/* end of search */
}