#tutorial-container {
	white-space: nowrap;
    position: absolute;
	z-index: 9999;
	background-color: #fff;
	padding: 7px 12px;
	background: #ccf0ff;
	border: 3px solid #69abf5;
	border-radius: 5px;
}
#tutorial-container:after, #tutorial-container:before {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#tutorial-container:after {
	border-color: rgba(204, 240, 255, 0);
	border-right-color: #ccf0ff;
}
#tutorial-container:before {
	border-color: rgba(105, 171, 245, 0);
	border-right-color: #69abf5;
}

/*** tutorial specifi styles ***/
/* 0 */
	#tutorial-container[tutorial-id="0"] {
		top: -3px;
		left: 100%;
		margin-left: -32px;
	}
	
	#tutorial-container[tutorial-id="0"]:after, #tutorial-container[tutorial-id="0"]:before {
		top: 23px;
	}

	#tutorial-container[tutorial-id="0"]:after {
		border-width: 16px;
		margin-top: -16.5px;
	}

	#tutorial-container[tutorial-id="0"]:before {
		border-width: 21px;
		margin-top: -21px;
	}

/* 1 */
	#tutorial-container[tutorial-id="1"] {
		top: 48px;
		left: 100%;
		margin-left: -55px;
	}
	
	#tutorial-container[tutorial-id="1"]:after, #tutorial-container[tutorial-id="1"]:before {
		top: 23px;
	}

	#tutorial-container[tutorial-id="1"]:after {
		border-width: 16px;
		margin-top: -16.5px;
	}

	#tutorial-container[tutorial-id="1"]:before {
		border-width: 21px;
		margin-top: -21px;
	}

/* 2 */
	#tutorial-container[tutorial-id="2"] {
		top: 96px;
		left: 100%;
		margin-left: -70px;
	}
	
	#tutorial-container[tutorial-id="2"]:after, #tutorial-container[tutorial-id="2"]:before {
		top: 23px;
	}

	#tutorial-container[tutorial-id="2"]:after {
		border-width: 16px;
		margin-top: -55px;
		margin-right: -45.5px;
		border-right-color: transparent;
		border-bottom-color: #ccf0ff;
	}

	#tutorial-container[tutorial-id="2"]:before {
		border-width: 21px;
		margin-top: -64px;
		margin-right: -50px;
		border-right-color: transparent;
		border-bottom-color: #69abf5;
	}

/* 3 */
	#tutorial-container[tutorial-id="3"] {
		top: 18px;
		left: 15px;
	}
	
	#tutorial-container[tutorial-id="3"]:after, #tutorial-container[tutorial-id="3"]:before {
		top: 23px;
	}

	#tutorial-container[tutorial-id="3"]:after {
		border-width: 16px;
		margin-top: -55px;
		margin-right: -45.5px;
		border-right-color: transparent;
		border-bottom-color: #ccf0ff;
	}

	#tutorial-container[tutorial-id="3"]:before {
		border-width: 21px;
		margin-top: -65px;
		margin-right: -50px;
		border-right-color: transparent;
		border-bottom-color: #69abf5;
	}

/* 4 */
	#tutorial-container[tutorial-id="4"] {
		top: 18px;
		left: 160px;
	}
	
	#tutorial-container[tutorial-id="4"]:after, #tutorial-container[tutorial-id="4"]:before {
		top: 23px;
	}

	#tutorial-container[tutorial-id="4"]:after {
		border-width: 16px;
		margin-top: -55px;
		margin-right: -45.5px;
		border-right-color: transparent;
		border-bottom-color: #ccf0ff;
	}

	#tutorial-container[tutorial-id="4"]:before {
		border-width: 21px;
		margin-top: -65px;
		margin-right: -50px;
		border-right-color: transparent;
		border-bottom-color: #69abf5;
	}

/* 5 */
	#tutorial-container[tutorial-id="5"] {
		top: 75px;
		left: 15px;
	}
	
	#tutorial-container[tutorial-id="5"]:after, #tutorial-container[tutorial-id="5"]:before {
		bottom: 0px;
		left: 0px;
	}

	#tutorial-container[tutorial-id="5"]:after {
		border-width: 16px;
		border-right-color: transparent;
		border-top-color: #ccf0ff;
		margin-bottom: -32px;
		margin-left: 24.5px;
	}

	#tutorial-container[tutorial-id="5"]:before {
		border-width: 21px;
		border-right-color: transparent;
		border-top-color: #69abf5;
		margin-bottom: -42px;
		margin-left: 20px;
	}

/* 6 */
	#tutorial-container[tutorial-id="6"] {
		top: 116px;
		left: 15px;
	}
	
	#tutorial-container[tutorial-id="6"]:after, #tutorial-container[tutorial-id="6"]:before {
		bottom: 0px;
		left: 0px;
	}

	#tutorial-container[tutorial-id="6"]:after {
		border-width: 16px;
		border-right-color: transparent;
		border-bottom-color: #ccf0ff;
		margin-bottom: 74px;
		margin-left: 24.5px;
	}

	#tutorial-container[tutorial-id="6"]:before {
		border-width: 21px;
		border-right-color: transparent;
		border-bottom-color: #69abf5;
		margin-bottom: 74px;
		margin-left: 20px;
	}