<div>
	<h2>{{questionTXT}}</h2>
	<div><span class="msg"></span></div>

	<div>
		<button id="remove-group"><?php p($l->t( 'Yes' )); ?></button>
		<button id="abort-remove-group"><?php p($l->t( 'No' )); ?></button>
	</div>
</div>
