<form id="add-group-form">
	<label for="add-group-name">{{nameTXT}}</label> <input type="text" name="group_name" id="add-group-name" placeholder="{{nameTXT}}">
	<button id="add-group-create" type="submit">{{addTXT}}</button>
	<div><span class="msg"></span></div>
</form>
